body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
}

.postcard-body {
	display: flex;
}

.postcard-footer {
	text-align: center;
}

.postcard-header img {
	height: 50px;
	width: 50px;
}

h1 {
	margin: 0;
	flex-grow: 1;
}

p:nth-child(1) {
	margin-top: 0;
	font-size: 18px;
}

p:nth-child(2) {
	font-size: 14px;
}

.body-left,
.body-right {
	width: 50%;
	padding: 5px;
}

button {
	margin: auto;
	background-color: grey;
	padding: 5px;
}
